[Unit]
Description=Configure CXL Memory as NUMA Node
After=systemd-modules-load.service
After=systemd-udev-settle.service
After=local-fs.target
Wants=systemd-udev-settle.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/setup_cxl_numa.sh
StandardOutput=journal
StandardError=journal
TimeoutSec=60

[Install]
WantedBy=multi-user.target
